/* * {
    box-sizing: border-box;
    outline: 2px solid gold;
} */

body{
    /* removal of browser defaults and ensure the element is 100% of what i see */
    margin: 0 150px;
    height: 100vh;
    
    /* background image properties */
    background-image: url("./img/League-of-Legends-Image-Baron-Nashor-the-oldest-most-powerful-player-Skin-Art-Download-Wallpaper-HD-3840x2400-1920x1440.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* i want everything to be centered inside of body element*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.screen{
    height: 400px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 0 3px gold, 0 0 0 6px yellow;
    display: flex;
    background-color: white;
}

.result {
    height: 400px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    color: black;
    /* need this to distribute the spacing for each div evenly */
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 3px gold, 0 0 0 6px yellow;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.result > div {
    color:  black;
    text-transform: capitalize;
    padding-left: 5px;

    /* distribute the spacing for each div evenly */
    flex: 1;

    /* center text on the Y axis (cross axis) */
    display: flex;
    align-items: center;
}

@media (max-height: 650px) {
    body{
        background-repeat: repeat;
    }
}